<a href="https://colab.research.google.com/github/technosantosh79/pythonicjourney/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print Statements

## Simple Print Statements

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
# Write a print() statement that prints any greeting message of your choice.
print("Greetings John")

In [ ]:
# Create a print() statement that prints your name, age, and a short sentence about yourself, using commas to separate values.
print("Santosh", "35", "I'm cool")

Santosh 35 I'm cool

## String Concatenation - print()
- Instead of using commas, you can combine strings using the + operator. This only works with strings, so you’ll need to convert other types (like numbers) to strings using str().

In [ ]:
# Write a print() statement that uses + to join at least three strings together into one sentence. Let’s see your version!
print("I am " + str(35) + " hence, it is time to invest")

I am 35 hence, it is time to invest

## Printing with "f" (formatted) string
- F-strings are one of the cleanest and most powerful ways to format output in Python 3.6 and above. You use an f before the string and insert variables directly using {}.

In [ ]:
# Define two variables (e.g., your_name and your_age) and use an f-string to print a sentence with both. Let’s see it!
your_name = "Santosh"
your_age = 35

print(f"Hi, {your_name}, let me guess your age - {your_age}?")

Hi, Santosh, let me guess your age - 35?

## Using newline character "\n"
- You can insert \n in your string to create a line break.

In [ ]:
# Write a print statement that displays three hobbies, each on a new line, using \n. Go for it!
print("Hobbies are: \n" + "Tennis\n" + "Games\n" + "Driving" )

Hobbies are:
Tennis
Games
Driving

## Using "\t" for tab indentation
- You can insert \t to add a tab space, which is useful for indentation in printed lists or formatting tables.

In [ ]:
"""
Print three lines using \t to align things like a mini table:
Item:      Apple
Quantity:  3
Price:     $2.50

"""
print("Item:\t" + "Apple")
print("Quantity:\t" + str(3))
print("Price:\t" + "$2.50")

Item:	Apple
Quantity:	3
Price:	$2.50

## Print with end= to control what comes after
- By default, print() ends with a newline (\n). But you can change that using the end= parameter.

In [ ]:
# Use print() with end= to print two statements on the same line with a custom ending (like " >> " or " --> "). Let’s see your version!
print("Next Steps ", end=">>")
print(" Use get() to fetch data using APIs")

Next Steps >> Use get() to fetch data using APIs

## Printing quotes inside a string
- Sometimes you want to print quotation marks as part of your string. You can do this in a few ways:
  - Use double quotes outside, single inside
  -  Or escape quotes with a backslash (\")

In [ ]:
"""
Write two print() statements:

One that uses single quotes inside double quotes.

Another that uses escaped double quotes inside double quotes.
"""
print("'Hello, John', Where are you going?")
print("\"Hello, John\", Are you coming over this weekend?")

'Hello, John', Where are you going?
"Hello, John", Are you coming over this weekend?

## Multiline print using triple quotes
- Python allows you to use triple quotes (''' or """) to create a multiline string, which is great for long messages, ASCII art, or documentation-style printing.

In [ ]:
# Write a print() statement using triple quotes that prints a 3-line motivational quote or message. Your style, your words!
print("""
Character defines you,
Trust defines a relationship,
And open communication clears off any misunderstandings!!!
""")

Character defines you,
Trust defines a relationship,
And open communication clears off any misunderstandings!!!

## Using print() inside a loop
- Now let’s combine print() with a loop. It’s very common to print things repeatedly or dynamically using a for loop.

In [ ]:
"""
Write a for loop that prints this message 5 times, each time with the loop number:
Attempt 1: Trying again!
Attempt 2: Trying again!
...
Attempt 5: Trying again!
"""
for i in range(1,6):
  print(f"Attempt {i}: Trying again!")

Attempt 1: Trying again!
Attempt 2: Trying again!
Attempt 3: Trying again!
Attempt 4: Trying again!
Attempt 5: Trying again!

##  Printing with sep=
- When you use commas in a print() statement, Python inserts spaces by default between the values.
- But with sep=, you can customize the separator.

In [ ]:
# Print "Study tonight has been created for STUDENTS" using sep= and end=
print("Study", "tonight", "has", "been", "created", "for", sep="_", end="_STUDENTS")

Study_tonight_has_been_created_for_STUDENTS

## Printing to a file
- You can redirect output from print() to a file instead of the console using the file= argument.

In [ ]:
# Print "This goes to the end of the file" to the end of the file - output.txt
with open("./sample_data/output.txt","a") as f:
  print("This goes to the end of the file", file=f)

## Using flush=True to force output immediately
- In some real-time apps (like logging or loading bars), Python buffers output. You can force it to display immediately:

In [ ]:
# Making "." appear one-by-one to give a loading effect
import time
for i in range(3):
  print(".", end="", flush=True)
  time.sleep(1)

...

## Unicode & emojis
- Python 3’s print supports Unicode, so you can print symbols and emojis.

In [ ]:
print("Success ✅")
print("Coffee time ☕")

Success ✅
Coffee time ☕

## Printing dictionaries or formatted data with json.dumps()
- For pretty-printing structured data:

In [ ]:
# Display skills using JSON dumps

import json
data = {"name": "Santosh", "skills":["Python", "API", "AI"]}
print(json.dumps(data, indent=2))

{
  "name": "Santosh",
  "skills": [
    "Python",
    "API",
    "AI"
  ]
}

In [ ]:
"""
 Your Task:

Create a Python dictionary called profile with the following keys:

"name" → your name

"age" → your age

"hobbies" → a list of 3 hobbies

"employed" → True or False

Use json.dumps() to print it in a clean, indented format.

Let’s see your version!
"""
import json
data = {"name": "Santosh", "age": 35, "hobbies": ["Tennis", "Woodworking", "Programming"], "employed": True}
print(json.dumps(data, indent=2))

{
  "name": "Santosh",
  "age": 35,
  "hobbies": [
    "Tennis",
    "Woodworking",
    "Programming"
  ],
  "employed": true
}

# Variables
- We'll cover:
  - Assignment
  - Types
  - Updating
  - Swapping
  - Multiple variables
  - Scope basics
  - And more


## What is a variable?
- A variable stores a value so you can use it later. In Python, you don’t need to declare a type—just assign it

## Create a basic variable

In [ ]:
"""
Create three variables:

city (your city)

temperature (any number, float or int)

is_raining (True or False)

Print all three using a single print() statement.
"""
city = "Perth"
temperature = 37.0
is_raining = False

print(f"Today is it going to be {temperature} in {city} and it is {is_raining} raining")

Today is it going to be 37.0 in Perth and it is False raining

## Change a Variable's value

In [ ]:
"""
Start with a variable score and set it to 10.

Update it by adding 5 more points.

Print the new value of score.
"""
score = 10
score = score + 5
print(score)

15

## Use shorthand operators
- Python offers shorthand (compound) operators like +=, -=, *=, /= etc.

In [ ]:
"""
Create a variable balance = 1000

Deduct 250 using a shorthand operator

Print the updated balance
"""

balance = 1000
balance -= 250
print(balance)

750

## Swapping variables
- You can swap values between two variables easily in Python without needing a temporary variable.

In [ ]:
"""
Create two variables: x = 5, y = 10

Swap their values

Print x and y after the swap
"""
x = 5
y = 10

x, y = y, x

print(x, y)

10 5

## Assign the same value to multiple variables - Chained Assignment
- Python allows assigning the same value to multiple variables in one line.

In [ ]:
"""
Create three variables: m, n, and o

Set all three to "Active" using a single line

Print them all in one print statement
"""
m = n = o = "Active"
print(m, n, o)

Active Active Active

## Assign different values to multiple variables in one line - Tuple Style Unpacking
- You can also assign different values in a single line

In [ ]:
"""
Create three variables: name, country, profession

Assign each with your actual or made-up info on one line

Print them using an f-string
"""
name, country, profession = "Santosh", "Australia", "Strategist"
print(f"{name} lives in {country}, working as a {profession}")

Santosh lives in Australia, working as a Strategist

## Use type() to check variable types
- Python lets you inspect the type of a variable using the type() function.

In [ ]:
"""
Create three variables: an integer, a float, and a boolean

Print each variable and its type using type()
"""
age = 35
height = 5.12
married = True

print(type(age))
print(type(height))
print(type(married))

<class 'int'>
<class 'float'>
<class 'bool'>

## Create a variable from an expression
- You can assign the result of a math expression or string manipulation to a variable.

In [ ]:
"""
Calculate a total cost: price_per_item = 12.5, quantity = 4

Assign the result of price_per_item * quantity to total_cost

Print total_cost in a complete sentence
"""
price_per_item = 12.5
quantity = 4
total_cost = price_per_item * quantity
print(f"The total cost of the items is {total_cost}, given that the item costs {price_per_item} with quantity {quantity}")

## Casting data types (converting between types)
- Sometimes you need to convert data—e.g., string to int, float to int, etc.

In [ ]:
"""
Create a variable years = "5" (as a string)

Convert it to an integer and store it in years_int

Multiply it by 12 to get months

Print the result in a sentence: "5 years is 60 months."
"""
years = "5"
years_int = int(years)
months = years_int * 12
print(f"{years} years is {months} months")

5 years is 60 months

## Use a variable inside another variable’s assignment
- You can use existing variables to help define new ones—this is super common in calculations, logic building, and dynamic data.

In [ ]:
"""
Set base_salary = 3000

Calculate a bonus of 10% of base

Set total_salary = base_salary + bonus

Print all three values clearly
"""
base_salary = 3000
bonus_percent = 10/100
bonus = bonus_percent * base_salary
total_salary = base_salary + bonus
print(f"The total salary is {total_salary} with the base salary of {base_salary} and bonus of {bonus}")

The total salary is 3300.0 with the base salary of 3000 and bonus of 300.0

## Variable Scope
- Where you define a variable affects where it can be used:

  - Global scope: Defined outside any function
  - Local scope: Defined inside a function

In [ ]:
# To check the behaviour of global and local variable

x = 10

def show():
  x = 5
  print(x)

show()
print(x)

5
10

## Constants (by convention)
- Python doesn’t have true constants, but we use UPPERCASE names to signal that a variable shouldn't change:

In [ ]:
PI = 3.142

print(PI)

3.142

## del statement
- You can delete a variable using del

In [ ]:
# Example of a del() statement

x = 100
del(x)
print(x)

NameError: name 'x' is not defined

## globals() and locals()
- These built-in functions let you see or manipulate all variables in a given scope (advanced introspection).

## Dynamic Variable Names (Not Recommended)

In [ ]:
globals()["new_var"] = 12
print(new_var)

12

In [ ]:
"""
Create a variable in the global scope: app_name = "InsightFlow"

Define a function called run() that:

Creates two local variables: user = "Santosh" and version = 1.0

Prints the result of locals() inside the function

After calling the function, print the keys of globals() and check if app_name is present.

Bonus: Add a new variable to globals() dynamically using:

Print status after that to confirm it exists.

"""

app_name = "InsightFlow"
globals()["status"] = "Running"
def run():
  user = "Santosh"
  version = 1.0
  print(user, version)

print("In Global Scope: ", globals().keys())
run()

In Global Scope:  dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__builtin__', '__builtins__', '_ih', '_oh', '_dh', 'In', 'Out', 'get_ipython', 'exit', 'quit', '_', '__', '___', '_i', '_ii', '_iii', '_i1', 'show', '_i2', 'PI', '_i3', '_i4', 'new_var', '_i5', 'app_name', 'run', '_i6', 'status', '_i7'])
Santosh 1.0

# Data Types
Quick Overview of Core Python Data Types:
![Screenshot 2025-03-24 at 9.36.47 pm.png]()

In [ ]:
"""
Create a variable of each of these types: int, float, str, bool, list, tuple, dict, set, None

Use type() to print the type of each variable
"""

age = 35
height = 5.11
name = "Santosh"
isMarried = True
hobbies = ["Tennis", "Woodworking", "Programming"]
fruits = ("apple", "banana", "mango")
places_to_visit = {"europe": "italy", "usa": "new york"}
thisset = {"age", 35, "height", 5.11}
x = None

print(type(age))
print(type(height))
print(type(name))
print(type(isMarried))
print(type(hobbies))
print(type(fruits))
print(type(places_to_visit))
print(type(thisset))
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'NoneType'>

## Indexing and Accessing elements

In [ ]:
"""
Print the second hobby from your hobbies list

Print the first fruit from your fruits tuple

Print the value for key "europe" from places_to_visit dictionary
"""
hobbies = ["Tennis", "Woodworking", "Programming"]
fruits = ("apple", "banana", "mango")
places_to_visit = {"europe": "italy", "usa": "new york"}

print(hobbies[1])
print(fruits[0])
print(places_to_visit["europe"])

Woodworking
apple
italy

## Modify mutable types
- In Python:

  - Lists, dictionaries, and sets are mutable (can be changed)

  - Tuples and strings are immutable (cannot be changed)

In [ ]:
"""
Add a new hobby to your hobbies list

Update the "usa" value in your dictionary to "San Francisco"

Add "new_item" to your thisset
"""
hobbies = ["Tennis", "Woodworking", "Programming"]
places_to_visit = {"europe": "italy", "usa": "new york"}
thisset = {"age", 35, "height", 5.11}

hobbies.append("Driving")
print(hobbies)

places_to_visit["usa"] = "San Francisco"
print(places_to_visit)

thisset.add("bmi")
print(thisset)

['Tennis', 'Woodworking', 'Programming', 'Driving']
{'europe': 'italy', 'usa': 'San Francisco'}
{'age', 35, 5.11, 'bmi', 'height'}

## Try and fail to change an immutable type
- Let’s confirm immutability in action

In [ ]:
"""
Try changing the second fruit in the fruits tuple (e.g. to "kiwi")

Try assigning a new letter to a character in a string (e.g. name[0] = "Z")
"""
name = "Santosh"
fruits = ("apple", "banana", "mango")

fruits[1] = "kiwi"
print(fruits)

name[0] = "Z"
print(name)

TypeError: 'tuple' object does not support item assignment

## Check membership using in

In [ ]:
"""
Check if "Tennis" is in your hobbies list

Check if "apple" is in your fruits tuple

Check if "europe" is a key in your places_to_visit dictionary
Print True or False for each check
"""
hobbies = ["Tennis", "Woodworking", "Programming"]
fruits = ("apple", "banana", "mango")
places_to_visit = {"europe": "italy", "usa": "new york"}

print("Tennis" in hobbies)
print("apple" in fruits)
print("europe" in places_to_visit)

True
True
True

## Get the length of data types
- The len() function tells you how many items are in a collection.

In [ ]:
"""
Print the number of hobbies in your hobbies list

Print the number of fruits in your fruits tuple

Print the number of places (keys) in your dictionary
"""
hobbies = ["Tennis", "Woodworking", "Programming"]
fruits = ("apple", "banana", "mango")
places_to_visit = {"europe": "italy", "usa": "new york"}

print(f"There are {len(hobbies)} hobbies in the hobbies list")
print(f"There are {len(fruits)} fruits in the fruits tuple")
print(f"There are {len(places_to_visit)} places in the dictionary")

There are 3 hobbies in the hobbies list
There are 3 fruits in the fruits tuple
There are 2 places in the dictionary

## Convert between data types
- Python allows flexible type conversions:

  - list(), tuple(), set() can convert between types

- Notice how:

  - The list preserves order (['apple', 'banana', 'mango'])

  - The set has no guaranteed order and no duplicates

In [ ]:
"""
Convert your fruits tuple into a list and store it in fruit_list

Convert fruit_list to a set and store it in fruit_set

Print both new variables and their types
"""
fruits = ("apple", "banana", "mango")

fruit_list = list(fruits)
fruit_set = set(fruit_list)

print(fruit_list)
print(fruit_set)

['apple', 'banana', 'mango']
{'apple', 'mango', 'banana'}

## Use isinstance() to check type
- Sometimes, instead of printing type(), you may want to check a variable’s type directly.

- This is a great tool for:

  - Type-checking user input

  - Writing reusable utility functions

  - Validating data before processing

In [ ]:
"""
Use isinstance() to check:

If hobbies is a list

If fruits is a tuple

If places_to_visit is a dictionary

Print the results (True/False)
"""
hobbies = ["Tennis", "Woodworking", "Programming"]
fruits = ("apple", "banana", "mango")
places_to_visit = {"europe": "italy", "usa": "new york"}

print(isinstance(hobbies, list))
print(isinstance(fruits, tuple))
print(isinstance(places_to_visit, dict))

True
True
True

## Use a dictionary with different data types as values
- A dictionary can store mixed data types as values—even lists, other dictionaries, etc.

In [ ]:
"""
Create a dictionary profile with:

"name" → your name

"skills" → a list of 3 skills

"details" → another dictionary with keys like "age" and "location"

Print the whole dictionary and use type() on one nested item
"""
person_profile = {"name": "Santosh",
                  "skills": ["Strategy", "Programming", "Woodworking"],
                  "details": {"age": 35, "location": "Perth"}}

#details = {"age": 35, "location": "Perth"}

print(person_profile)
print(details)
print(type(person_profile["skills"]))
print(type(person_profile["details"]))

{'name': 'Santosh', 'skills': ['Strategy', 'Programming', 'Woodworking'], 'details': {'age': 35, 'location': 'Perth'}}
{'age': 35, 'location': 'Perth'}
<class 'list'>
<class 'dict'>

## Unpack values from a collection
- Python allows unpacking values from lists or tuples into variables

In [ ]:
"""
Create a tuple with 3 values: your first name, your country, and your favorite number

Unpack the tuple into 3 variables: first_name, country, fav_number

Print a sentence using those variables
"""
personal_details = ("Santosh", "Australia", "5")

first_name, country, fav_number = personal_details

print(f"Hi, I am {first_name}, living in {country} and my favourite number is {fav_number}")

Hi, I am Santosh, living in Australia and my favourite number is 5

# Advanced Data Types Series
- We'll go through each structure practically, one at a time:

  - Lists 🔁 – ordered, mutable, dynamic
  - Tuples 🔐 – ordered, immutable, lightweight
  - Dictionaries 🗂️ – key-value powerhouse, flexible, efficient

- For each, we’ll cover:
  - Advanced operations
  - Iteration patterns
  - Nesting
  - Real-world modeling examples
  - Pythonic tricks

## Lists
- What we will cover
  - Slicing
  - Insert / Remove
  - Copy vs Reference
  - Sorting Techniques
  - Nested Lists

- With lists you can
  - append(), insert(), remove(), pop()
  - Access with [index]
  - Slice with [start : end]

In [ ]:
"""
Create a list of 6 colors: "red", "blue", "green", "yellow", "purple", "orange"

Print:

The first 3 items using slicing

The last 2 items

Replace the middle two items with "black" and "white"

Print the final list
"""

colors = ["red", "blue", "green", "yellow", "purple", "orange"]

print(colors[:3])
print(colors[-2:])
colors[2:4] = ["black", "white"]
print(colors)

['red', 'blue', 'green']
['purple', 'orange']
['red', 'blue', 'black', 'white', 'purple', 'orange']

## Insert, remove, and pop
- Now let’s practice with element-wise list control.

In [ ]:
"""
Start with your current colors list

Insert "teal" at position 2

Remove "orange" from the list

Pop the last item from the list and store it in popped_color

Print the modified list and popped_color
"""
colors = ["red", "blue", "green", "yellow", "purple", "orange"]

colors.insert(1, "teal")
print(colors)

colors.remove("orange")
print(colors)

popped_color = colors.pop()
print(popped_color)
print(colors)

['red', 'teal', 'blue', 'green', 'yellow', 'purple', 'orange']
['red', 'teal', 'blue', 'green', 'yellow', 'purple']
purple
['red', 'teal', 'blue', 'green', 'yellow']

## Copying, Sorting, and Nesting
- These are core list skills in real-world programming, especially for:
  - Avoiding bugs from shared references
  - Presenting data in sorted formats
  - Managing tabular or hierarchical data

- Concepts we will cover
  - copy() vs =
  - sort() vs sorted()
  - reverse()
  - Nested lists (Lists inside lists)
  - Accessing and modifying nested elements

In [ ]:
"""
Create a list original = [1, 2, 3]

Create ref_copy = original (this creates a reference)

Create real_copy = original.copy() (this creates a real copy)

Modify ref_copy[0] = 99

Print all three lists: original, ref_copy, real_copy
"""

original = [1,2,3]
ref_copy = original  # This is reference ie. if values in original list changes the ref_copy changes too

real_copy = original.copy() # Here the list is actually copied into a new memory location

ref_copy[0] = 99
print(original)
print(ref_copy)
print(real_copy)

[99, 2, 3]
[99, 2, 3]
[1, 2, 3]

## Sorting and reversing

- sort() = in-place sorting
- reverse() = in-place reversing
- sorted() = non-destructive sorting (returns a new list)

In [ ]:
"""
Create a list of numbers: nums = [7, 3, 9, 1, 4]

Use .sort() to sort nums in place

Use .reverse() to reverse it

Then use sorted(nums) to get a new sorted list without modifying the original

Print all results to observe the differences
"""

nums = [7,3,9,1,4]
nums.sort()         # In-place list sorting, no need to create a new list
print(nums)

nums.reverse()      # In-place list reversing, no need to create a new list
print(nums)

sorted_nums = sorted(nums)
print(sorted_nums)
print(nums)

[1, 3, 4, 7, 9]
[9, 7, 4, 3, 1]
[1, 3, 4, 7, 9]
[9, 7, 4, 3, 1]

## Working with nested lists
- Nested lists let you store 2D data—think spreadsheets, grids, or tables
- Super useful in real-world work with Excel files, JSON, or databases.

In [ ]:
"""
Create a list called matrix with these three rows:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Print the center value (should be 5)

Replace the bottom-right value (9) with 0

Print the whole matrix again
"""
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]

print(matrix[1][1])
matrix[-1][-1] = 0
print(matrix)

5
[[1, 2, 3], [4, 5, 6], [7, 8, 0]]

## Iteration, Filtering & Comprehensions
- We’ll cover:

  - Looping through lists
  - Enumerating with index
  - Filtering with conditions
  - List comprehensions (clean, powerful one-liners)
  - Using comprehensions with if and if-else

In [ ]:
"""
Create a list: languages = ["Python", "JavaScript", "Go", "Rust"]

Loop through the list with a for loop

Print each language with the message: "I want to learn <language>"
"""
languages = ["Python", "JavaScript", "Go", "Rust"]
for language in languages:
  print(f"I want to learn {language}")

I want to learn Python
I want to learn JavaScript
I want to learn Go
I want to learn Rust

## Loop with index using enumerate()
- enumerate() is a built-in function that gives you both the index and the value in a loop.
- You're now equipped to build numbered menus, question lists, logs, and more—this is a common, useful real-world pattern

In [ ]:
"""
Use the same languages list

Loop through it using enumerate()

Print the message: "<index + 1>. <language>" (e.g., 1. Python)
"""
languages = ["Python", "JavaScript", "Go", "Rust"]

for index, language in enumerate(languages, start=1):
    print(f"{index}. {language}")

1. Python
2. JavaScript
3. Go
4. Rust

## Filter items with a condition
- Let’s take it a step further and filter a list based on a rule.
- This pattern is everywhere in real-world logic—filtering user input, database queries, scores, grades, thresholds, validations—you name it.

In [ ]:
"""
Use this list:
scores = [72, 85, 43, 90, 66, 58]

Loop through the scores

Print only the scores greater than or equal to 70, with the message: "Passed with <score>"
"""
scores = [72, 85, 43, 90, 66, 58]
for score in scores:
  if score >= 70:
    print(f"Passed with {score}")

Passed with 72
Passed with 85
Passed with 90

## Create a new filtered list (with condition)
- Now let’s store the filtered results into a new list using a traditional loop.

In [ ]:
"""
Use the same scores list

Create an empty list called passed

Append only scores >= 70 into passed

Print the final passed list
"""
scores = [72, 85, 43, 90, 66, 58]
passed = []
for score in scores:
  if score >= 70:
    passed.append(score)

print(passed)

[72, 85, 90]

## List comprehension with a condition
- List comprehensions are Python’s elegant way of building lists in one readable line.

In [ ]:
"""
Use the same scores list

Create a new list called top_scores using a list comprehension

Only include scores greater than 80

Print top_scores
"""
scores = [72, 85, 43, 90, 66, 58]
top_scores = [score for score in scores if score > 80]
print(top_scores)

[85, 90]

## Real-World List Challenge
- You are building a mini-dashboard to process exam scores

In [ ]:
"""
Combine student names and scores into a list of tuples
Format: ("Alice", 82), etc.

Filter only students who scored >= 70
Store them in a list called passed_students

Create a ranked list of passed students, sorted from highest to lowest score

Print the ranked results as:
1. Charlie - 91
2. Alice - 82
3. Ethan - 76

"""

students = ["Alice", "Bob", "Charlie", "Diana", "Ethan"]
scores = [82, 67, 91, 45, 76]

students_scores = list(zip(students, scores))

passed_students = list(filter(lambda student_score: student_score[1] >= 70, students_scores))   # You can add a constraint [:<value>] at the end to display top 5/10 results

passed_students.sort(key=lambda x: x[1], reverse=True)

for index, (name, score) in enumerate(passed_students, start=1):
  print(f"{index}. {name} - {score}")

failed_students = len(students_scores) - len(passed_students)
print(f"{failed_students} students failed the exam")

1. Charlie - 91
2. Alice - 82
3. Ethan - 76
2 students failed the exam

In [ ]:
"""
Combine cart_items and cart_prices into a list of tuples

Print a receipt-style summary showing each item and price

Calculate and print the total price

Add "Belt" priced at 10 to the cart

Print the updated total and the full updated cart
"""

cart_items = ["Shirt", "Pants", "Shoes", "Socks", "Hat"]
cart_prices = [25, 40, 60, 5, 15]

cart_details = list(zip(cart_items, cart_prices))

print("Cart Details:")
for index, (item, price) in enumerate(cart_details, start=1):
  print(f"{index}. {item}\t{price}")

total_cart_value = sum(list(map(lambda x: x[1], cart_details)))
print(f"The total cart value is ${total_cart_value}")

cart_details.append(("Belt", 10))

total_cart_value = sum(list(map(lambda x: x[1], cart_details)))
print(f"The total updated cart value is ${total_cart_value}")

Cart Details:
1. Shirt	25
2. Pants	40
3. Shoes	60
4. Socks	5
5. Hat	15
The total cart value is $145
The total updated cart value is $155

In [6]:
"""
You’re building a weekly expense tracker. Here’s your data:

expenses = [
    ("Groceries", 80),
    ("Utilities", 150),
    ("Coffee", 6),
    ("Dining Out", 45),
    ("Internet", 60),
    ("Gym", 30)
]

Filter and create a list of essential expenses (>= $50)

Calculate and print the total essential spend

Print the percentage of essential spending vs total spend

Formula: (essential / total) * 100

Show a summary like:
Essentials:
- Groceries: $80
- Utilities: $150
- Internet: $60
Total Essentials: $290
Essential Spend: 69.0% of total

"""

expenses = [
    ("Groceries", 80),
    ("Utilities", 150),
    ("Coffee", 6),
    ("Dining Out", 45),
    ("Internet", 60),
    ("Gym", 30)
]

essential_expenses = list(filter(lambda expense: expense[1] >= 50, expenses))
print(essential_expenses)
total_essential_spend = sum(list(map(lambda x: x[1], essential_expenses)))

total_spend = sum(list(map(lambda x:x[1], expenses)))

percent_essential_spend = (total_essential_spend / total_spend) * 100


print("Essentials")
for index, (name, cost) in enumerate(essential_expenses, start=1):
  print(f"{index}. {name} : {cost}")
print(f"Total Essentials: ${total_essential_spend}")
print(f"Essential Spend: {percent_essential_spend:.2f}% of total")

[('Groceries', 80), ('Utilities', 150), ('Internet', 60)]
Essentials
1. Groceries : 80
2. Utilities : 150
3. Internet : 60
Total Essentials: $290
Essential Spend: 78.17% of total

In [27]:
"""
contacts = [
    ("Alice", "alice@email.com"),
    ("Bob", "bob@email.com"),
    ("Charlie", "charlie@email.com"),
    ("Diana", "diana@email.com")
]

Ask the user to input a name (e.g., "bob"), and make the search case-insensitive

If found, print:
Contact found: Bob - bob@email.com
If not found, print:

Contact not found.
📝 Optional: you can hard-code the search name for now like:

search_name = "diana"
Your contact directory awaits! ☎️


"""

contacts = [
    ("Alice", "alice@email.com"),
    ("Bob", "bob@email.com"),
    ("Charlie", "charlie@email.com"),
    ("Diana", "diana@email.com")
]


while(1):
  name = input("Input a name to check if available (type 'quit' to quit): ")

  found = list(filter(lambda x:  x[0].lower() == name.lower(), contacts))
  for index, (name, email) in enumerate(found):
    print(f"Contact found: {name} - {email}")

  if not found:
    print("Contact not found!")


  if(name.lower() == "quit"):
    print("Thank you for using this service.")
    break

Input a name to check if available (type 'quit' to quit): john
Contact not found!
Input a name to check if available (type 'quit' to quit): alice
Contact found: Alice - alice@email.com
Input a name to check if available (type 'quit' to quit): bob
Contact found: Bob - bob@email.com
Input a name to check if available (type 'quit' to quit): charlie
Contact found: Charlie - charlie@email.com
Input a name to check if available (type 'quit' to quit): diana
Contact found: Diana - diana@email.com
Input a name to check if available (type 'quit' to quit): santosh
Contact not found!
Input a name to check if available (type 'quit' to quit): quit
Contact not found!
Thank you for using this service.

In [14]:
"""
movies = [
    ("Inception", 8.8),
    ("The Batman", 7.9),
    ("Super Mario Bros", 6.1),
    ("Oppenheimer", 9.2),
    ("The Flash", 6.5),
    ("Top Gun: Maverick", 8.5)
]


Filter and display only movies with a rating of 8.0 or higher

Sort the filtered list descending by rating

Print the ranked list like:
1. Oppenheimer (9.2)
2. Inception (8.8)
3. Top Gun: Maverick (8.5)
(Bonus) Print the average rating across all movies in the list

This challenge ties together:
Filtering
Sorting
Unpacking
Formatting
Aggregation

"""

movies = [
    ("Inception", 8.8),
    ("The Batman", 7.9),
    ("Super Mario Bros", 6.1),
    ("Oppenheimer", 9.2),
    ("The Flash", 6.5),
    ("Top Gun: Maverick", 8.5)
]


high_rank_movies = list(filter(lambda movie: movie[1] > 8, movies))

high_rank_movies.sort(key= lambda x: x[1], reverse=True)

print("Top 3 Movies:")
for index, (movie, rank) in enumerate(high_rank_movies):
  print(f"{index}. {movie} ({rank})")

avg_rating = sum(list(map(lambda x: x[1], movies))) / len(movies)
print(f"The average ratings of all movies: {avg_rating:.1f}")

Top 3 Movies:
0. Oppenheimer (9.2)
1. Inception (8.8)
2. Top Gun: Maverick (8.5)
The average ratings of all movies: 7.8

In [2]:
"""
inventory = [
    ("T-Shirts", 12),
    ("Jeans", 5),
    ("Sneakers", 2),
    ("Socks", 20),
    ("Hoodies", 0),
    ("Caps", 4),
    ("Jackets", 3)
]


Filter and display only items with stock <= 5
These are your low stock items

Print them in a list like:
Low Stock Alert:
- Jeans: 5 left
- Sneakers: 2 left
...
Count how many items are low on stock and print a message:

⚠️ 5 items need restocking.
(Bonus) Print the total number of units currently in stock across all products


"""

inventory = [
    ("T-Shirts", 12),
    ("Jeans", 5),
    ("Sneakers", 2),
    ("Socks", 20),
    ("Hoodies", 0),
    ("Caps", 4),
    ("Jackets", 3)
]

filtered_stock_items = list(filter(lambda item: item[1] <= 5, inventory))
print(filtered_stock_items)

print("Low stock alerts:")
for index, (item, quantity) in enumerate(filtered_stock_items):
  print(f"- {item}: {quantity} left")

print(f"{len(filtered_stock_items)} items need restocking")

total_inventory_qty = sum(list(map(lambda x: x[1], inventory)))
print(f"There are {total_inventory_qty} units in stock across all products")

[('Jeans', 5), ('Sneakers', 2), ('Hoodies', 0), ('Caps', 4), ('Jackets', 3)]
Low stock alerts:
- Jeans: 5 left
- Sneakers: 2 left
- Hoodies: 0 left
- Caps: 4 left
- Jackets: 3 left
5 items need restocking
There are 46 units in stock across all products

In [18]:
"""
sales_data = [
    ("Alice", "Team A", 12000),
    ("Bob", "Team B", 9500),
    ("Charlie", "Team A", 13500),
    ("Diana", "Team B", 10500),
    ("Ethan", "Team A", 11000),
    ("Fiona", "Team B", 8000),
]


Split the data into two lists: team_a and team_b based on the team name
Each list should contain tuples like: ("Alice", 12000)

Calculate the average sales for each team

Use the formula: sum of sales / number of people

Determine and print which team performed better

Show a summary like:
Team A Average: $12166.67
Team B Average: $9333.33
🏆 Team A performed better!
💡 Bonus: Format the average to 2 decimal places


"""

sales_data = [
    ("Alice", "Team A", 12000),
    ("Bob", "Team B", 9500),
    ("Charlie", "Team A", 13500),
    ("Diana", "Team B", 10500),
    ("Ethan", "Team A", 11000),
    ("Fiona", "Team B", 8000),
]


team_a = list(filter(lambda team: team[1] == "Team A", sales_data))
team_b = list(filter(lambda team: team[1] == "Team B", sales_data))

avg_sales_team_a = sum(list(map(lambda x: x[2], team_a))) / len(team_a)
avg_sales_team_b = sum(list(map(lambda x: x[2], team_b))) / len(team_b)
print(f"Team A Average: {avg_sales_team_a:.2f}")
print(f"Team B Average: {avg_sales_team_b:.2f}")
if(avg_sales_team_a < avg_sales_team_b):
  print("Team B performed better!")
else:
  print("Team A performed better!")

Team A Average: 12166.67
Team B Average: 9333.33
Team A performed better!

## What is List Comprehension

Syntax:

```python
[expression for item in iterable if condition]
```

Example:


```python
nums = [1,2,3,4,5]
squares = [n * n for n in nums]

# Output: [1,4,9,16,25]
```

In [22]:
"""
Create a list of temperatures in Celsius:
temps_c = [20, 25, 30, 15, 10]

Convert them to Fahrenheit using a list comprehension
Formula: F = C * 1.8 + 32

Print the list of Fahrenheit values

"""
temps_c = [20, 25, 30, 15, 10]

temps_f = [temp * 1.8 + 32 for temp in temps_c]
print(temps_f)

[68.0, 77.0, 86.0, 59.0, 50.0]

In [4]:
"""
You’re displaying prices for an international e-commerce site. The base prices are in USD, and you need to show them in INR.

usd_prices = [5.99, 15.49, 23.00, 8.75, 12.10]

Convert each price from USD to INR using the exchange rate 1 USD = 83.2 INR

Round each INR price to 2 decimal places

Print the list of converted INR prices
"""

usd_prices = [5.99, 15.49, 23.00, 8.75, 12.10]

inr_prices = [round(price * 83.2, 2) for price in usd_prices]
print(f"List of converted prices from USD to INR: {inr_prices}")

List of converted prices from USD to INR: [498.37, 1288.77, 1913.6, 728.0, 1006.72]

In [5]:
"""
scores = [65, 89, 45, 72, 51, 99, 33]


Use a list comprehension to return a list of scores greater than or equal to 60

Store the result in passing_scores

Print the list
"""

scores = [65, 89, 45, 72, 51, 99, 33]

passing_scores = [score for score in scores if score >= 60]

print(f"The passing scores are: {passing_scores}")

The passing scores are: [65, 89, 72, 99]

In [7]:
"""
products = ["Shirt", "Mug", "Laptop", "Pen", "Notebook", "Bag"]


Use a list comprehension to select product names with 4 characters or fewer

Store the result in short_products

Print the list
"""
products = ["Shirt", "Mug", "Laptop", "Pen", "Notebook", "Bag"]

short_products = [product for product in products if len(product) <= 4]

print(f"The short products are: {short_products}")

The short products are: ['Mug', 'Pen', 'Bag']

In [8]:
"""
prices = [1200, 3500, 999, 780, 4100, 1999]

Use a list comprehension to return prices under ₹2000

Store them in affordable_prices

Print the result like:
Affordable options: [1200, 999, 780, 1999]

"""
prices = [1200, 3500, 999, 780, 4100, 1999]

affordable_prices = [price for price in prices if price < 2000]

print(f"Affordable options: {affordable_prices}")

Affordable options: [1200, 999, 780, 1999]

## Exercises for all the things we have learnt so far

In [13]:
"""
Mini Challenge: Fitness Tracker - Calories Report

You're building a fitness app that tracks calories burned for different workouts.

workouts = [
    ("Running", 400),
    ("Walking", 150),
    ("Cycling", 550),
    ("Yoga", 120),
    ("HIIT", 700),
    ("Swimming", 650),
    ("Stretching", 90)
]

Filter out workouts that burned 300 calories or more
Store the result in effective_workouts

Extract just the workout names using a list comprehension

Print the effective workouts like:
Effective workouts (300+ cal): ['Running', 'Cycling', 'HIIT', 'Swimming']

(Bonus) Calculate the total calories burned for effective workouts
Format the result like:
Total calories burned in effective workouts: 2300


"""

workouts = [
    ("Running", 400),
    ("Walking", 150),
    ("Cycling", 550),
    ("Yoga", 120),
    ("HIIT", 700),
    ("Swimming", 650),
    ("Stretching", 90)
]


effective_workouts = [(workout, calorie) for workout, calorie in workouts if calorie >= 300]
# print(effective_workouts)

workout_list = [workout for workout, calorie in effective_workouts]
print(f"Effective workouts (300+ cal): {workout_list}")

total_effective_calories = sum(list(map(lambda calorie: calorie[1], effective_workouts)))
print(f"Total calories burned in effective workouts: {total_effective_calories}")

Effective workouts (300+ cal): ['Running', 'Cycling', 'HIIT', 'Swimming']
Total calories burned in effective workouts: 2300

## List Comprehensions - if-else, Nested Loops and Flattening

- Basic Syntax



```python
[expression for item in iterable if condition]
```

- With if-else inside



```python
[true_val if condition else false_val for item in iterable]

```

- This structure is super useful for labeling, categorizing, color-coding, tagging data, or setting default values in batch processing.

- "if" -> [x for x in data if x > 0] -> This filters the values

- "if-else -> ["Pass" if x >=60 else "Fail" for x in scores] -> Transforms all values with conditions

In [15]:
"""
scores = [82, 59, 91, 45, 73]

Use a list comprehension with if-else to return:

"Pass" if score >= 60

"Fail" otherwise

Store the result in status_list

Print the result like:
['Pass', 'Fail', 'Pass', 'Fail', 'Pass']

"""
scores = [82, 59, 91, 45, 73]

status_list = ["Pass" if score >= 60 else "Fail" for score in scores]

print(status_list)

['Pass', 'Fail', 'Pass', 'Fail', 'Pass']

In [16]:
"""
Tag items as "In Stock" or "Out of Stock"

inventory = [12, 0, 5, 0, 8]

Use a list comprehension with if-else

Return "In Stock" if quantity > 0, else "Out of Stock"

Store the result in stock_status and print it
"""

inventory = [12, 0, 5, 0, 8]

stock_status = ["In Stock" if quantity > 0 else "Out of Stock" for quantity in inventory]

print(stock_status)

['In Stock', 'Out of Stock', 'In Stock', 'Out of Stock', 'In Stock']

In [17]:
"""
Categorise numbers as Even/Odd

numbers = [10, 3, 6, 7, 2, 9]

Use a list comprehension with if-else

Return "Even" if the number is even, "Odd" if not

Print the result
"""

numbers = [10, 3, 6, 7, 2, 9]

check_even_odd = ["Even" if number % 2 == 0 else "Odd" for number in numbers]

print(check_even_odd)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']